@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
nav ul {
    list-style-type: none;
    background-color:#f9f4ef;
    font-size: 1.5rem;
    padding: 25px 0;
    
}

nav ul li {
    display: inline-block;
    margin-left: 200px;
    text-decoration: underline;
    border: 1px solid pink;
    box-shadow: 7px 7px pink;
    padding: 7px;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-weight: 20px;
    font-style: normal;
}

nav ul li a {
    text-decoration: none;
    color: #020826;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #eaddcf;
}

.coffee-img{
    height: 700px;
    width: 1575px;
}

.image-heading {
    position: absolute;
    top: 40%;
    color: #020826; 
    font-size: 50px; 
    text-align: left;
    margin-left: 30px;
}

.coffee-description {
    font-size: 20px;
    color: bl;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-left: 80px;
}

.btn{
    background-color: #8c7851;
    color: #01010f;
    position: absolute;
    top: 60%;
    margin-left: 350px;
    padding: 15px;
    border-radius: 20px;
    font-weight: bolder;
    font-family: "Mukta", sans-serif;
    font-style: normal;
}

.btn:hover{
    cursor: pointer;
}


